In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('nominations.db')

In [4]:
schema = conn.execute('pragma table_info(nominations)').fetchall()

In [5]:
for item in schema:
    print(item)

(0, 'Year', 'INTEGER', 0, None, 0)
(1, 'Category', 'TEXT', 0, None, 0)
(2, 'Nominee', 'TEXT', 0, None, 0)
(3, 'Won', 'INTEGER', 0, None, 0)
(4, 'Movie', 'TEXT', 0, None, 0)
(5, 'Character', 'TEXT', 0, None, 0)

In [6]:
first_ten = conn.execute('select * from nominations limit 10;').fetchall()

In [7]:
for item in first_ten:
    print(item)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

In [8]:
# Create ceremonies table
conn.execute("CREATE TABLE ceremonies (id integer PRIMARY KEY, \
Year integer, Host text);")

OperationalError: table ceremonies already exists

In [9]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]

In [14]:
insert_query = "INSERT INTO ceremonies (Year, Host) VALUES (?,?);"

In [15]:
conn.executemany(insert_query,years_hosts)

In [10]:
conn.execute("select * from ceremonies limit 10;").fetchall()

[(1, 2010, 'Steve Martin'),
 (2, 2009, 'Hugh Jackman'),
 (3, 2008, 'Jon Stewart'),
 (4, 2007, 'Ellen DeGeneres'),
 (5, 2006, 'Jon Stewart'),
 (6, 2005, 'Chris Rock'),
 (7, 2004, 'Billy Crystal'),
 (8, 2003, 'Steve Martin'),
 (9, 2002, 'Whoopi Goldberg'),
 (10, 2001, 'Steve Martin')]

In [11]:
conn.execute("PRAGMA foreign_keys = ON;")

In [21]:
# Create nominations_two table
nominations_two = conn.execute("CREATE TABLE nominations_two \
(id integer primary key, \
category text, nominee text, movie text, character text, \
won integer, ceremony_id integer references ceremonies(id));")

In [14]:
conn.execute('pragma table_info(nominations_two);').fetchall()

[(0, 'category', 'text', 0, None, 0),
 (1, 'nominee', 'text', 0, None, 0),
 (2, 'movie', 'text', 0, None, 0),
 (3, 'character', 'text', 0, None, 0),
 (4, 'won', 'integer', 0, None, 0),
 (5, 'ceremony_id', 'integer', 0, None, 0)]

In [15]:
joined_nominations = conn.execute('select nominations.category, nominations.nominee, nominations.movie, nominations.character, nominations.won, ceremonies.id from nominations inner join ceremonies on nominations.year == ceremonies.year;').fetchall()

In [16]:
placeholder = "insert into nominations_two values(null, ?, ?, ?, ?, ?, ?);"

In [22]:
conn.executemany(placeholder, joined_nominations).fetchall()

[]

In [23]:
for item in conn.execute("select * from nominations_two limit 5").fetchall():
    print(item)

(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1)
(2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', 0, 1)
(3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', 0, 1)
(4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', 1, 1)
(5, 'Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', 0, 1)

In [24]:
conn.execute("drop table nominations")

In [26]:
conn.execute("ALTER TABLE nominations_two RENAME TO nominations")

In [28]:
conn.execute("create table movies \
(id integer primary key, \
movie text)")

In [29]:
conn.execute("create table actors \
(id integer primary key, \
actor text)")

In [32]:
query_movies_actors = "create table movies_actors \
(id integer primary key, \
movie_id integer references movies(id), \
actor_id integer references actors(id))"

In [33]:
conn.execute(query_movies_actors)

In [ ]:
s